{% extends "/header.html"%}

{% block index_data %}
<div>
	<h1> Matplotlib Plotter </h1>
	<form action="{{ url_for('plot') }}" method="post">
		<fieldset>
			<dl>
				<p> Equation in terms of x</p>
				<input type="text" name="equation" placeholder="{{equation}}" value="{{equation}}"/>
			
				
				
			</dl>

			<p>X Min</p>
			<input type="text" name="x_min" placeholder="{{x_min}}" value="{{x_min}}"/>
			<p>X Max</p>
			<input type="text" name="x_max" placeholder="{{x_max}}" value="{{x_max}}"/>
			<p>Delta X</p>
			<input type="text" name="delta_x" placeholder="{{delta_x}}" value="{{delta_x}}" step="0.001"/>
			<button type="submit">Plot</button>	
		</fieldset>
	</form>
</div>
{% if figure|length != 0%}
<div>
	<!--Returns base64 raw PNG image-->
	<img src="data:image/png;base64, {{figure}}"/>
</div>

{% endif %}
{% endblock %}